<div class="row alerts-container" data-ng-controller="AlertsCtrl" data-ng-show="alerts.length">
  <div class="col-xs-12">
    <uib-alert data-ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
  </div>
</div>

<div class="row">
	<div class="col-lg-6">
		<rd-widget>
      		<rd-widget-header icon="fa-paperclip" title="Ask your advisor!">
				<button class="btn btn-sm btn-info" ng-click="clickToOpen()">Ask a question!</button>
      		</rd-widget-header>
      		<rd-widget-body classes="medium no-padding">
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr><th class="text-left">Question</th><th>Date Asked</th><th class="text-center">Status</th></tr>
						</thead>
						<tbody>
							<tr><td>Hi! Wanted to know how my<br> Investments are doing?</td><td>01.07.2016</td><td class="text-center"><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
							<tr><td>Is there anything new by<br> Elite Bank this month?</td><td>11.07.2016</td><td class="text-center"><span class="text-warning"><i class="fa fa-envelope"></i></span></td></tr>
						</tbody>
					</table>
				</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-6">
		<rd-widget>
			<rd-widget-header icon="fa-briefcase" title="Recommended for You!">
				<input type="text" placeholder="Search" class="form-control input-sm" />
			</rd-widget-header>
			<rd-widget-body classes="medium no-padding">
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr><th class="text-center">No.</th><th>Article</th><th>Author</th><th>Date Published</th></tr>
						</thead>
						<tbody>
							<tr><td class="text-center">1</td><td>Joe Bloggs</td><td>Super Admin</td><td>AZ23045</td></tr>
							<tr><td class="text-center">2</td><td>Timothy Hernandez</td><td>Admin</td><td>AU24783</td></tr>
							<tr><td class="text-center">3</td><td>Joe Bickham</td><td>User</td><td>AM23781</td></tr>
						</tbody>
					</table>
        		</div>
			</rd-widget-body>
		<rd-widget>
	</div>
</div>

