<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Research</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="row" ng-controller="ResearchesCtrl">
            <button ng-click="goOil()">Why you should buy Oil now?</button>
        </div>
        <div class="row" ng-controller="ResearchesCtrl">
            <button ng-click="goOil()">Why you should invest in Yen now?</button>
        </div>
        <div class="row" ng-controller="ResearchesCtrl">
            <button ng-click="goOil()">Effects of Brexit</button>
        </div>
    </body>
</html>
