<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Research</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            .container {
                width: 100%;
                margin: 0 auto;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div ng-controller="ResearchesCtrl">
                <button class="btn btn-lg btn-primary" style="margin-top: 2%;" ng-click="goOil()">Why you should buy Oil now?</button>
            </div>
            <div ng-controller="ResearchesCtrl">
                <button  class="btn btn-lg btn-primary" style="margin-top: 2%;" ng-click="goOil()">Why you should invest in Yen now?</button>
            </div>
            <div ng-controller="ResearchesCtrl">
                <button class="btn btn-lg btn-primary" style="margin-top: 2%;" ng-click="goOil()">Effects of Brexit</button>
            </div>
        </div>
    </body>
</html>
